<div class="header header-logo" routerLink="">
  < Back
</div>
<div class="hero-banner" style="background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({{donation?.image}});">

  <div class="d-flex flex-wrap p-1 align-center">
    <img class="logo-img" src="assets/unnamed.jpg" alt="">
    <h1 class="heading line-md font-xlg w-80 px-2">{{donation?.heading}}</h1>
  </div>
  <div class="banner-text d-flex flex-wrap justify-between p-2 w-100">
    <div class="progress w-100">
      <progress class="progress-bar w-100" id="file" [value]="donation?.progress" max="100"></progress>
      <div class="label" [class.end]="donation.progress >= 100"  
        [ngStyle]="getStyles(donation.progress)">
        {{donation?.progress}}%
      </div>
    </div>
    <div class="banner-txt">
      <span class="font-xlg">{{donation?.goal}}</span><br>
      <span class="font-lg">goal</span>
    </div>
    <div class="banner-txt">
      <span class="font-xlg">{{donation?.days}}</span><br>
      <span class="font-lg">Days to go</span>
    </div>
    <div class="banner-txt">
      <span class="font-xlg">{{donation?.contributions}}</span><br>
      <span class="font-lg">Contributions</span>
    </div>
  </div>
</div>
<ul class="tabs d-flex justify-between">
  <li class="tab" [class.active]="show==='about'" (click)="toggleShow('about')">About</li>
  <li class="tab" [class.active]="show==='supporters'" (click)="toggleShow('supporters')">Supporters</li>
  <li class="tab" [class.active]="show==='contacts'" (click)="toggleShow('contacts')">Contacts</li>
</ul>
<ng-container *ngIf="show === 'about'">
  <div class="p-2">
    <p class="about-text mb-2">Lorem ipsum dolor sit amet, con sectetur adip iscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.

    </p>
    <p class="about-text">Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>
    <ul class="about-text p-2">
      <li class="mb-2">Lorem ipsum dolor sit amet, con sectetur adip iscing elit, sed do eiusmod.</li>
      <li class="mb-2">Tempor incididunt ut labore magna aliqua.</li>
      <li class="mb-2">Ut enim ad minim veniam quis</li>
      <li class="mb-2">Nostrud exer citation ullamco laboris.</li>
    </ul>
    <img [src]="donation?.aboutImg" class="img-fluid mb-2" alt="">
    <p class="about-text mb-4">Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>
    <button [disabled]="donated || donation.progress >= 100" type="button" (click)="donate()" class="btn btn-primary font-lg"
      [innerHtml]="donation.progress >= 100 ? 'Donation goal reached' : 'Donate'">
    
    </button>
  </div>
</ng-container>
<ng-container *ngIf="show==='supporters'">
  <div class="about-text p-2">
    <p class="mb-2">Lorem ipsum dolor sit amet, con sectetur adip iscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua.

    </p>
    <p>Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</ng-container>
<ng-container *ngIf="show==='contacts'">
  <div class="about-text p-2">
    <p>08554888595</p>
  </div>
</ng-container>

<div class="alert-notification" *ngIf="donationSuccess">
  Your donation was successfully Added.
</div>