.img-icon {
  width: 84px;
  height: 84px;
  border-radius: 100%;
  object-fit: cover;
}
svg {
  width: 94px;
  height: 94px;
  position: absolute;
  left: -6px;
  top: -3px;
}
svg circle {
  fill: none;
  stroke-width: 7;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}
svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}
svg circle:nth-child(2) {
  stroke-dashoffset: calc(90 - (300 * 100) / 100);
  stroke: #09bb07;
}


