.header {
  padding: 16px;
  background-color: #e6e6e6;
}
.header-logo {
  text-decoration: none;
  color: #393a3f;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: left;
  font-weight: 500;
}
.tabs ul li {
  border-right: 1px solid #e6e6e6;
  color: #393a3f;
  padding: 14px;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
}
.tabs ul {
  margin: 0;
  padding-left: 0;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 20px 35px 0 20px;
  display: flex;
  border-bottom: 2px solid #F8F8F8;
}
.box {
  width: 33%;
}
.box .percent svg circle {
  fill: none;
  stroke-width: 7;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}
.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}
.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(90 - (300 * 100) / 100);
  stroke: #09bb07;
}
.img {
  width: 80px;
  border-radius: 100%;
  height: 80px;
  position: absolute;
  top: 295px;
  left: 28px;
  z-index: -2;
}
.content {
  text-align: left;
  line-height: 0;
  font-family: Roboto;
  color: #393A3F;
}
.heading {
  font-size: 19px;
  line-height: 1.3;
  font-weight: 400;
  margin: 10px 0 20px;
}
.sub-heading{
  color: #93959E;
  font-size: 14px;
  margin-bottom: 20px;
}
.description {
  font-size: 15px;
  font-weight: bold;
}