<div class="header header-logo">
  Featured Charity
</div>
<div class="hero-banner" style="background:url(assets/hero-banner.jpg);"></div>
<ul class="tabs d-flex justify-between">
  <li class="tab" [class.active]="show==='new'" (click)="toggleShow('new')">Newest</li>
  <li class="tab" [class.active]="show==='popular'" (click)="toggleShow('popular')">Popular</li>
  <li class="tab" [class.active]="show==='end'" (click)="toggleShow('end')">End Date</li>
</ul>
<ng-container *ngIf="show==='new'">
  <app-card *ngFor="let item of donations" [item]="item"></app-card>
</ng-container>
<ng-container *ngIf="show==='popular'">
  <ng-container *ngFor="let item of donations">
    <app-card *ngIf="item?.popular" [item]="item"></app-card>
  </ng-container>

</ng-container>
<ng-container *ngIf="show==='end'">
  <ng-container *ngFor="let item of donations">
    <app-card *ngIf="item?.end" [item]="item"></app-card>
  </ng-container>
</ng-container>
